@using ExamineApp.Models;
@{
    ViewData["Title"] = "Registration";
    Layout = "_Layout";
}
@{
    var allPupils = (List<Pupil>)ViewBag.AllPupils;
    var allLessons = (List<Lesson>)ViewBag.AllLessons;
    if (allPupils.Count > 0 && allLessons.Count > 0)
    {
        <form action="Registration" method="post">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="LessonCode">Dərsin kodu</label>
                    <select class="form-select" name="LessonCode">
                        @foreach (var lsns in allLessons)
                        {
                            <option id="@lsns.Id" value="@lsns.Code">@lsns.Code</option>
                        }
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="PupilNumber">Şagirdin nömrəsi</label>
                    <select class="form-select" name="PupilNumber">
                        @foreach (var ppls in allPupils)
                        {
                            <option id="@ppls.Id" value="@ppls.Number">@ppls.Number</option>
                        }
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Date">İmtahan tarixi</label>
                    <input type="date" class="form-control" name="Date" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Result">Qiyməti</label>
                    <input type="text" class="form-control" name="Result" required>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Təsdiq et</button>
        </form>
    }
    else
    {
        <h1>
            Qeydiyyatdan keçmiş şagird(və ya dərs) tapılmadı.
            <br>
            Zəhmət olmasa daha öncə dərslər və şagirdlər bölməsinin qeydiyyatını aparın.
        </h1>
    }
}
